@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

img {
  object-fit: contain;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */
.header {
  padding-top: 40px;
}

.main-navigation {
  background-color: #ffe17f;
  min-height: 300px;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
}

.catalog-navigation {
  background-color: #ffe17f;
  min-height: 186px;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
  position: absolute;
  top: -22px;
}

.menu-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 49px;
  margin-bottom: 26px;
  min-height: 20px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-form {
  position: relative;
  top: -5px;
}

.search-input {
  width: 356px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 2px;
  position: relative;
  bottom: 6px;
  outline: none;
  border: 0;
  padding-left: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-input[type="search"] {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.search-input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:not(:placeholder-shown) {
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
}

.search-input:placeholder-shown ~ .search-button {
  display: none;
}

.search-input:placeholder-shown:focus-visible {
  border: 2px solid #af4fff;
  border-radius: 20px;
  width: 516px;
  outline: none;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 160px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: -6px;
  right: -159px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:focus-visible {
  height: 40px;
  outline: 2px solid #af4fff;
  border-radius: 0 20px 20px 0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-item a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.user-login {
  margin-right: 15px;
  width: 240px;
}

.enter-link {
  padding-left: 24px;
  position: relative;
  color: #000000;
}

.enter-link::before,
.user-log::before {
  content: "";
  left: 0;
  top: 3px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  position: absolute;
  padding-left: 20px;
  width: 13px;
  height: 12px;
}

.user-log {
  padding-left: 23px;
  color: #000000;
}

.enter-link:hover,
.compare-link:hover,
.cart-link:hover {
  opacity: 0.6;
}

.compare-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 8px;
  border-radius: 20px;
}

.enter-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 20px;
  width: 70px;
}

.user-log:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 20px;
  height: 25px;
  outline-offset: 5px;
}

.logout-link:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 20px;
  height: 25px;
  width: 60px;
  outline-offset: 5px;
}

.cart-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 8px;
  border-radius: 20px;
}

.enter-link:active,
.compare-link:active,
.cart-link:active {
  opacity: 0.3;
}

.user-compare {
  margin-right: 36px;
  width: 118px;
}

.compare-link {
  padding-left: 24px;
  position: relative;
  color: #000000;
}

.compare-link::before {
  content: "";
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  position: absolute;
  left: 4px;
  top: 4px;
  padding-left: 20px;
}

.user-cart {
  margin-left: 0;
  position: relative;
  width: 90px;
  text-align: right;
}

.cart-link {
  position: relative;
  padding-left: 25px;
  color: #000000;
}

.cart-link::before {
  content: "";
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 14px;
}

.user-cart:hover .popover {
  display: block;
}

.user-cart:focus-within .popover {
  display: block;
}
/*Поповер корзины*/

/*Поповер корзины*/
.popover {
  position: absolute;
  right: -80px;
  width: 320px;
  min-height: 180px;
  margin-top: 13px;
  z-index: 5;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.popover::before {
  content: "";
  background-image: url("../img/cart-popover.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: 150px;
}

.popover-close-button {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 0;
  right: 85px;
  cursor: pointer;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  outline: none;
}

.popover-content {
  height: 100%;
}

.cart-item-button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin-left: auto;
}

.cart-item-button svg {
  fill: #ffffff;
}

.cart-item-button svg:hover {
  fill: rgb(153, 153, 153);
}

.cart-item-button:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.cart-item-button svg:active {
  fill: rgb(76, 76, 76);
}

.cart-item {
  display: flex;
  padding: 20px;
  column-gap: 25px;
  box-sizing: border-box;
}

.cart-item:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item .cart-item-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  min-width: 180px;
  text-align: left;
}

.cart-item-link img {
  margin-right: 23px;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus-visible {
  color: #af4fff;
  outline: 0;
}

.cart-item-link:focus-visible img {
  outline: 5px solid #af4fff;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-price {
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  width: 300px;
  height: 44px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.kol-item,
.cost-item {
  padding: 20px;
}

.cost-item {
  padding-right: 10px;
}

.cart-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: #ffffff;
  width: 280px;
  min-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 21px;
}

.cart-button:hover {
  background-color: #ffe17f;
}

.cart-button:focus-visible {
  outline: 5px solid #af4fff;
}

.cart-button:active {
  color: rgb(0, 0, 0, 0.3);
}

/*профиль пользователя*/
.logout-link {
  color: rgb(0, 0, 0, 0.3);
  display: block;
  margin-left: 8px;
}

.profile {
  display: flex;
  width: 240px;
  margin-right: 15px;
  position: relative;
}

/*Главное меню*/
.main-menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-item:first-child {
  margin-right: auto;
  width: 236px;
  position: relative;
}

.main-item:last-child {
  margin-right: -4px;
  margin-left: 50px;
  text-align: right;
}

.main-item {
  margin-right: 17px;
  width: 140px;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  display: block;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.submenu-item {
  position: relative;
}

.submenu-item::after {
  content: "";
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 15px;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  right: -57px;
  top: -16px;
}

.submenu-item:hover::after {
  border: 2px solid #000000;
  background-image: url("../img/minus.svg");
}

.submenu-item:active {
  color: rgb(0, 0, 0, 0.3);
}

.submenu-list {
  display: none;
  position: absolute;
  background-color: #ffe17f;
  z-index: 3;
}

.submenu-item:hover .submenu-list {
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  background: #ffe17f;
  left: -60px;
  top: 35px;
  padding-left: 60px;
  padding-top: 32px;
  z-index: 10;
}

.submenu-item:focus-within .submenu-list {
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  background: #ffe17f;
  left: -60px;
  top: 35px;
  padding-left: 60px;
  padding-top: 32px;
  z-index: 10;
}

.dropdown-list-section,
.dropdown-list-col {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown-list-section {
  width: 200px;
  height: 120px;
  margin-bottom: 27px;
}

.dropdown-link:hover {
  opacity: 0.6;
}

.dropdown-link:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 20px;
  outline-offset: 7px;
}

.dropdown-link:active {
  opacity: 0.3;
}

.dropdown-list-section:last-child {
  margin-right: 0;
}

.dropdown-list-section:first-child {
  margin-right: 29px;
}

.dropdown-link {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.item-deliv:hover,
.item-garanty:hover,
.item-contacts:hover {
  border-bottom: 2px solid #000000;
}

.navigation-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 9px;
  border-radius: 20px;
}

.item-deliv:active,
.item-garanty:active,
.item-contacts:active {
  border-bottom: 2px solid #000000;
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}
/* Слайдер*/
.column-slider {
  z-index: 1;
}

.slider {
  margin-bottom: 18px;
  margin-top: -115px;
}

.slider .container,
.slider-wrapper {
  position: relative;
}

.main-clider {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
}

.slider-navigation {
  position: absolute;
  left: 19px;
  top: 213px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.slider-prev {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/prev.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.slider-next {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/next.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.slider-prev:hover,
.slider-next:hover {
  opacity: 0.6;
}

.slider-prev:focus-visible,
.slider-next:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 8px;
  border-radius: 1px;
}

.slider-prev:active,
.slider-next:active {
  opacity: 0.3;
}

.slider-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 36px 10px 40px;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #ffe17f 40%, #ffe17f 60%, transparent 40%);
}

.slider-button:hover {
  background-image: linear-gradient(0deg, #ffe17f 0%, #ffe17f 100%);
}

.info-slider .slider-button:focus-visible {
  background-image: linear-gradient(0deg, transparent 40%, #af4fff 40%, #af4fff 60%, transparent 40%);
  outline: none;
}

.slider-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.controls-toggle {
  position: absolute;
  right: 58px;
  top: 279px;
  margin-top: 35px;
  z-index: 2;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 22px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus-visible {
  outline: 2px solid #af4fff;
  border: 0;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-item {
  position: relative;
  display: none;
}

.slider-item--current {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.slider-item::before {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 49px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: -1;
}

.slider-item:first-child::before {
  content: "01";
}

.slider-item:nth-child(2)::before {
  content: "02";
}

.slider-item:nth-child(3)::before {
  content: "03";
}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  min-height: 110px;
  width: 560px;
  margin-bottom: 20px;
  margin-top: 85px;
}

.slider-text {
  min-height: 80px;
  width: 560px;
  margin-bottom: 25px;
}

.characteristics {
  margin-top: 50px;
}

.table-title {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 36px;
  width: 155px;
  height: 50px;
  line-height: 30px;
}

.table-info {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.image-slider {
  margin-right: 40px;
  width: 560px;
  position: relative;
  top: -36px;
}
/*Каталог товаров */
.catalog {
  margin-bottom: 181px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalog-item {
  margin-right: 40px;
  padding-top: 200px;
  width: 160px;
}

.item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  display: block;
  color: #000000;
  position: relative;
}

.item-link::before {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  top: -193px;
  left: 0;
  background-color: #ffe17f;
}

.item-link::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  top: -193px;
  left: 0;
}

.item-vr::after {
  content: "";
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 32px 53px;
  position: absolute;
  left: 0;
}

.item-mono::after {
  content: "";
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 37px 43px;
  position: absolute;
  left: 0;
}

.item-cam::after {
  content: "";
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 49px 38px;
  position: absolute;
  left: 0;
}

.item-fit::after {
  content: "";
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 26px 49px;
  position: absolute;
  left: 0;
}

.item-watch::after {
  content: "";
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 53px 31px;
  position: absolute;
  left: 0;
}

.item-kvadr::after {
  content: "";
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 14px 49px;
  position: absolute;
  left: 0;
}

.item-link:hover::before {
  background-color: #ffc700;
}

.item-link:focus-visible {
  color: #af4fff;
  outline: 0;
}

.item-link:focus-visible::before {
  outline: 5px solid #af4fff;
}

.item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-link:active::after {
  opacity: 0.3;
}

.catalog-item:last-child {
  margin-right: 0;
}

/*Услуги */
.services {
  background-color: #f0f0f0;
  margin-bottom: 90px;
  min-height: 288px;
}

.services .container {
  display: flex;
  position: relative;
  top: -30px;
}

.tabs-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  width: 160px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  color: #000000;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
}

.services-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 2;
  width: 280px;
}

.services-tabs::after {
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
  position: absolute;
  right: -4px;
  top: -69px;
}

.tabs-button::before {
  content: "";
  width: 160px;
  height: 8px;
  bottom: 11px;
  position: absolute;
  right: 0;
  background-color: #ffc700;
  z-index: -1;
}

.tabs-button:hover {
  background-color: #ffc700;
}

.tabs-button:focus-visible {
  outline: 0;
}

.tabs-button:focus-visible::before {
  background-color: #af4fff;
  outline: 0;
  border: 0;
}

.tabs-button--current::after,
.tabs-button:active::after {
  content: "";
  background-color: #000000;
  width: 280px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tabs-button--current {
  position: relative;
  top: 11px;
  margin-bottom: 12px;
}

.tabs-button:active,
.tabs-button--current {
  color: #ffe17f;
}

.tabs-button:active,
.tabs-button--current:hover {
  background-color: #000000;
}

.tabs-item {
  margin-bottom: 33px;
}

.tabs-item:last-child {
  margin-bottom: 0;
}

.features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  width: 497px;
}

.features-item {
  position: relative;
  display: none;
  padding-left: 120px;
}

.features-item--current {
  display: block;
}

.features-item-delivery::before {
  content: "";
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  position: absolute;
  top: 15px;
  right: -135px;
}

.features-item-garanty::before {
  content: "";
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
  position: absolute;
  top: -10px;
  right: -135px;
}

.features-item-credit::before {
  content: "";
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
  position: absolute;
  top: -10px;
  right: -135px;
}

.features-title {
  width: 560px;
  margin-bottom: 14px;
  min-height: 70px;
}

/*Доставка*/
.send-block {
  margin-bottom: 97px;
}

.delivery {
  background-color: #f0f0f0;
  height: 100px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border: 0;
}

.delivery-link::before {
  content: "";
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 39px 35px;
  width: 125px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.delivery-link::after {
  content: "";
  background-image: url("../img/delivery-1.svg");
  background-repeat: no-repeat;
  background-position: 39px 35px;
  width: 125px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.delivery-info {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  margin-right: 27px;
  background-color: rgba(220, 220, 220, 0.5);
  border: 0;
}

.info-icon {
  position: relative;
  top: 14px;
}

.delivery:hover {
  background-color: #ebebeb;
}

.delivery:hover .delivery-link::before {
  background: #ffc700;
  background-repeat: no-repeat;
  background-position: 39px 35px;
  width: 125px;
  height: 100px;
}

.delivery:hover .delivery-info {
  background-color: #dcdcdc;
}

.delivery:hover .info-icon {
  fill: #000000;
}

.delivery:focus-visible {
  outline: 5px solid #af4fff;
  border: 0;
}

.delivery:active .delivery-link {
  color: rgb(161, 161, 161);
}

.delivery:active .delivery-link::after {
  opacity: 0.3;
}

.delivery:active .delivery-info {
  background-color: #dcdcdc;
}

.delivery:active .info-icon {
  fill: rgb(161, 161, 161);
}

.delivery-link {
  font-family: "Raleway", sans-serif;
  align-self: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 970px;
  padding-left: 90px;
}

/*контакты */
.index-columns .container {
  display: flex;
  justify-content: flex-start;
}

.contacts {
  margin-left: 103px;
}

.about-title,
.contacts-title {
  margin-bottom: 26px;
  min-height: 70px;
}

.about-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  padding: 10px 14px 10px 19px;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #ffe17f 40%, #ffe17f 60%, transparent 40%);
}

.about-button:hover {
  background-image: linear-gradient(0deg, #ffe17f 0%, #ffe17f 100%);
  outline: none;
}

.about-button:focus-visible {
  background-image: linear-gradient(0deg, transparent 40%, #af4fff 40%, #af4fff 60%, transparent 40%);
  outline: none;
}

.about-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 60px;
  display: inline-block;
  padding: 10px 30px 10px 34px;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #ffe17f 40%, #ffe17f 60%, transparent 40%);
}

.contacts-button:hover {
  background-image: linear-gradient(0deg, #ffe17f 0%, #ffe17f 100%);
}

.contacts-button:focus-visible {
  background-image: linear-gradient(0deg, transparent 40%, #af4fff 40%, #af4fff 60%, transparent 40%);
  outline: none;
}

.contacts-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.text-about {
  margin-bottom: 23px;
  height: 202px;
  width: 497px;
}

.about-text,
.contacts-text {
  margin-bottom: 30px;
}

.company-item {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.company {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-info::before,
.contacts::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 7px;
  background-image: url("../img/vector.svg");
  margin-bottom: 35px;
}

.company-item::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #ffc700;
  margin-right: 26px;
}

.company-item:last-child {
  margin-bottom: 62px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 15px;
}

.contacts-time {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contact-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
  margin-top: 0;
  margin-bottom: 30px;
  outline: none;
}
/*рассылка */

.subscription {
  background-color: #f0f0f0;
  margin-top: 78px;
}

.email {
  display: flex;
  justify-content: space-between;
}

.subscription-title {
  width: 560px;
  min-height: 120px;
  margin-right: 40px;
  padding-top: 75px;
}

.send {
  margin-bottom: 127px;
}

.send-input {
  width: 597px;
  height: 52px;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid rgb(216, 216, 216);
  position: relative;
  right: -4.5px;
  outline: none;
}

.send-input:hover {
  border-bottom: 3px solid rgb(192, 192, 192);
}

.send-input:focus-visible {
  background-color: #dcdcdc;
}

.send-input:not(:placeholder-shown) {
  border-bottom: 3px solid rgb(0, 0, 0);
  opacity: 1;
}

.send-input:user-invalid {
  border-bottom: 3px solid #ff3d3d;
}

.subscription-text {
  width: 597px;
  height: 100px;
  padding-top: 84px;
  padding-left: 32px;
}

.send-email {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  align-items: baseline;
}

.send-input[type="email"] {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}

.send-input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgb(154, 154, 154);
}

.send-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 260px;
  padding: 16px 0;
  margin: 0;
  min-height: 55px;
  border: 3px solid rgb(216, 216, 216);
  box-sizing: border-box;
}

.send-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.send-button:focus-visible {
  border: none;
  outline: 3px solid #af4fff;
}

.send-button:active {
  background-color: #000000;
  color: rgb(76, 76, 76);
  border: 3px solid #000000;
}

.free-text {
  width: 129px;
  height: 30px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
  padding-left: 43px;
}

/*футер */
.page-footer {
  background-color: #444444;
  min-height: 321px;
}

.footer-block {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.footer-logo {
  outline: none;
}

.footer-contacts {
  width: 240px;
  margin-right: 116px;
}

.footer-info {
  display: block;
  text-align: right;
  margin-left: 58px;
  height: 37px;
  width: 280px;
}

.footer-nav-item {
  margin-right: 7px;
  width: 148px;
  text-align: center;
}

.footer-address {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
}

.footer-social::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  align-self: center;
  margin-right: 425px;
}

.logo-foot {
  padding-top: 65px;
  margin-bottom: 27px;
}

.footer-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  position: relative;
}

.social-item {
  margin-right: 15px;
  position: relative;
}

.social-item:last-child {
  margin-right: 0;
}

.social-fb svg {
  fill: #444444;
  position: absolute;
  top: 11px;
  left: 16px;
}

.social-inst svg {
  fill: #444444;
  position: absolute;
  top: 12px;
  left: 12px;
}

.social-tw svg {
  fill: #444444;
  position: absolute;
  top: 12px;
  left: 13px;
}

.social-link:focus-visible {
  outline: 5px solid #af4fff;
  background-color: #444444;
  border-radius: 50%;
}

.social-link:focus-visible svg {
  fill: #ffffff;
}

.social-link:hover {
  background-color: #ffc700;
}

.social-link:active {
  background-color: #ffc700;
}

.social-link:active svg {
  opacity: 0.3;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-right: 7px;
}

.footer-nav-link:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 20px;
  outline-offset: 15px;
}

.footer-nav-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-nav-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  padding: 0 2px;
  height: 37px;
}

.contacts-phone:hover {
  color: #ffc700;
}

.contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 3px;
  border: 0;
  border-radius: 25px;
}

.contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.academy-link {
  margin-left: auto;
}

.academy svg {
  fill: #ffc700;
}

.academy:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 2px;
  outline-offset: 5px;
}

.academy:hover svg {
  fill: #ffffff;
}

.academy:active svg {
  fill: #ffffff;
  opacity: 0.3;
}

/* Страница каталога */

/* "Хлебные крошки" */
.inner-header {
  padding-left: 60px;
  margin-bottom: 45px;
}

.inner-header-title {
  margin-top: 37px;
  margin-bottom: 20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 4px 7px;
  padding-right: 35px;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:focus-visible {
  outline: 5px solid #af4dff;
  outline-offset: 7px;
}

.breadcrumbs-link:active {
  color: #000000;
  opacity: 0.3;
}

/* Каталог продуктов */
/* Фильтрация */
.filter-sort {
  background-color: #ebebeb;
  background-image: linear-gradient(90deg, #dcdcdc 50%, #ebebeb 50%);
}

.filter {
  display: flex;
  align-items: center;
  min-height: 70px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.catalog-filter-title::before {
  content: "";
  width: 200px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: -14px;
}

.sort-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  width: 236px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 72px;
  margin-right: 52px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  width: 236px;
  margin-right: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 60px;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  position: relative;
  min-height: 34px;
}

.color-filter {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range {
  margin-bottom: 80px;
  position: relative;
}

.range-bar {
  position: absolute;
  left: 0;
  width: 119px;
  height: 2px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.range-label {
  position: absolute;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
}

.range-toggle {
  position: absolute;
  left: 0;
  top: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
  outline: 0;
}

.range-toggle:active {
  background-color: #000000;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 109px;
}

.range-toggle:focus-visible,
.range-toggle:focus-visible + .range-label {
  color: #af4fff;
}

.range-toggle:active + .range-label {
  color: #000000;
}

.range-toggle:focus-visible {
  border: 2px solid #af4fff;
}

.catalog-min-price {
  top: 16px;
  left: -5px;
}

.catalog-max-price {
  top: 16px;
  left: 91px;
}

.range-input {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 18px;
  width: 50px;
  border: none;
  background-color: inherit;
  box-sizing: border-box;
  color: inherit;
  outline: none;
  margin-left: 3px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.sort {
  background-color: #ebebeb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 70px;
  width: 821px;
}

.color-item {
  position: relative;
  margin-bottom: 10px;
}

.control {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  position: relative;
  cursor: pointer;
}

.control-input + .control,
.radio-input + .control {
  display: inline-flex;
}

.control-input + .control::before {
  content: "";
  display: inline-block;
  border: 2px solid rgb(188, 188, 188);
  border-radius: 3px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  padding-right: 17px;
  box-sizing: border-box;
  margin-right: 17px;
}

.control-input:checked + .control::before {
  border-color: #000000;
  background-image: url("../img/tick-1.svg");
}

.control-input:checked + .control:hover {
  color: rgb(118, 118, 118);
}

.control-input:checked:focus-visible + .control {
  outline: 0;
  color: #af4fff;
}

.control-input:checked:focus-visible + .control::before {
  background-image: url("../img/tick-focus.svg");
  border: 2px solid #af4fff;
  outline: 2px solid #af4fff;
}

.control-input:checked + .control:hover::before {
  opacity: 0.5;
}

.control-input:checked + .control:active::before {
  opacity: 0.2;
}

.control-input:focus-visible + .control::before {
  border: 2px solid #af4fff;
}

.control-input:focus-visible + .control {
  color: #af4fff;
  outline: 0;
}

.control:active {
  color: rgb(188, 188, 188);
}

.control-input:checked + .control:active {
  color: rgb(188, 188, 188);
}

.bluetooth-filter {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.radio-input + .control::before {
  content: "";
  display: inline-block;
  border: 2px solid rgb(188, 188, 188);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  padding-right: 17px;
  box-sizing: border-box;
  margin-right: 17px;
}

.radio-input:checked + .control::before {
  border-color: #000000;
  background-image: url("../img/circle.svg");
}

.radio-input:checked + .control:hover {
  color: rgb(125, 125, 125);
}

.radio-input:checked:hover + label::before {
  opacity: 0.5;
}


.radio-input:checked:focus-visible + .control {
  outline: 0;
  color: #af4fff;
}

.radio-input:checked:focus-visible + .control::before {
  background-image: url("../img/radio-focus.svg");
  border: 2px solid #af4fff;
  outline: 2px solid #af4fff;
}

.radio-input:checked:hover + .control::before {
  opacity: 0.5;
}

.radio-input:checked:active + .control::before {
  opacity: 0.2;
}

.radio-input:focus-visible + .control::before {
  border: 2px solid #af4fff;
}

.radio-input:focus-visible + .control {
  color: #af4fff;
  outline: 0;
}

.radio-input:checked:active + label::before {
  opacity: 0.2;
}

.radio-input:checked:active + .control {
  color: rgb(188, 188, 188);
}

.bluetooth-item {
  margin-bottom: 10px;
}

.sort-order-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  right: -10px;
  margin-left: auto;
}

.sort-order-item {
  margin-right: 19px;
}

.sort-order-item:last-child {
  margin-right: 0;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  background-image: url("../img/sort.svg");
  background-repeat: no-repeat;
  background-position: 90% 60%;
  background-size: 11px 6px;
  padding-right: 30px;
  width: 210px;
  outline: none;
  border: none;
  appearance: none;
  position: relative;
  left: -87px;
  top: -3px;
}

.select-control:hover {
  color: #000000;
  opacity: 0.6;
}

.select-control:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 10px;
}

.select-control:active {
  color: #000000;
  opacity: 0.3;
}

.title-cost {
  margin-bottom: 24px;
}

.title-color,
.title-bluetooth {
  margin-bottom: 14px;
}

.navigation-icon-top {
  fill: rgb(204, 204, 204);
}

.navigation-icon-bottom {
  fill: #000000;
}

.navigation-icon-top:hover {
  fill: rgb(144, 144, 144);
}

.sort-order-link:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.navigation-icon-top:active {
  fill: #000000;
}

/* Товары */
.product-block {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #e5e5e5 50%, #ffffff 50%);
}

.catalog-product-list {
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  width: 200px;
  padding-left: 60px;
  padding-top: 83px;
  margin-right: 68px;
}

.catalog-right-column {
  background-color: #ffffff;
  padding-left: 72px;
  padding-top: 69px;
  width: 760px;
}

.product-item {
  position: relative;
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-rows: 380px auto;
  row-gap: 33px;
}

.product-item:hover .product-image {
  opacity: 0.3;
}

.product-item:hover .button-product {
  display: block;
}

.product-name {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  max-width: 360px;
}

.product-item:focus-within .product-image {
  outline: 5px solid #af4fff;
}

.product-item:focus-visible .product-image {
  border: none;
}

.product-link:focus-visible {
  outline: none;
}

.product-item:focus-within,
.product-item:focus-within .product-price {
  color: #af4fff;
  outline: none;
}

.button-filter {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 36px 10px 40px;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #ffc700 40%, #ffc700 60%, transparent 40%);
}

.button-filter:hover {
  background-image: linear-gradient(0deg, #ffc700 0%, #ffc700 100%);
}

.button-filter:focus-visible {
  background-image: linear-gradient(0deg, transparent 40%, #af4fff 40%, #af4fff 60%, transparent 40%);
  outline: none;
}

.button-filter:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #000000;
  grid-column: 1/-1;
}

.product-title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 280px;
  margin: 0;
  padding: 0;
  min-height: 50px;
}

.product-price {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #444444;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-bottom: 44px;
}

.button-product {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 18px 10px 20px;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #ffc700 40%, #ffc700 60%, transparent 40%);
  position: absolute;
  top: 169px;
  left: 89px;
  display: none;
}

.button-product:hover {
  background-image: linear-gradient(0deg, #ffc700 0%, #ffc700 100%);
}

.button-product:focus-visible {
  background-image: linear-gradient(0deg, transparent 40%, #af4fff 40%, #af4fff 60%, transparent 40%);
  outline: none;
}

.button-product:active {
  color: rgba(0, 0, 0, 0.3);
}

.show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 51px;
  border: 3px solid #e5e5e5;
  background-color: transparent;
  color: #000000;
  width: 762px;
  height: 55px;
}

.show-more:hover {
  border: 3px solid #000000;
}

.show-more:focus-visible {
  outline: 5px solid #af4fff;
  border: 0;
}

.show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.product-image img {
  display: inline-block;
}

.new-item::before {
  content: "NEW";
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 23px;
  border-radius: 50px;
}

/* Пагинация */
.pagination {
  background-color: #ebebeb;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 70px;
  align-items: center;
  margin-bottom: 77px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  display: flex;
  text-align: center;
  letter-spacing: 0.2em;
  margin-right: 184px;
  padding-right: 18px;
  padding-left: 31px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 80px;
  min-height: 70px;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  line-height: 20px;
  align-items: center;
  min-height: 70px;
  min-width: 80px;
  text-align: center;
  margin-left: auto;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 30px;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:focus-visible,
.pagination-next:focus-visible {
  outline: 5px solid #af4fff;
}

.pagination-prev:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
  margin-right: 21px;
  min-width: 17px;
  min-height: 19px;
}

.dots {
  margin-right: 26px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgb(199, 199, 199);
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  min-width: 17px;
  min-height: 19px;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.pagination-link:active {
  color: #444444;
  opacity: 0.1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-delivery {
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 920px;
  padding-left: 71px;
  padding-right: 80px;
  padding-top: 63px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 80px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus-visible {
  outline: 5px solid #af4fff;
  border-radius: 50%;
  outline-offset: 10px;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 68px;
}

.modal-label {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  display: block;
  min-height: 34px;
}

.form-wrapper {
  display: flex;
}

.form-section {
  position: relative;
  width: 360px;
  margin-right: 40px;
}

.email-block {
  margin-right: 0;
}

.select-block {
  width: 560px;
  margin-right: 40px;
}

.modal-input {
  width: 360px;
  height: 60px;
  background-color: #f0f0f0;
  border: none;
  margin-right: 40px;
  position: relative;
}

.modal-input[type="text"],
.modal-input[type="email"] {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.modal-input:hover {
  background: #ebebeb;
}

.modal-input:focus-visible {
  outline: 5px solid #af4fff;
  border: 0;
}

.fullname-input:not(:placeholder-shown),
.email-input:not(:placeholder-shown),
.selection-input:not(:placeholder-shown) {
  outline: 3px solid #000000;
  border: 0;
}

.modal-input:user-invalid {
  border-bottom: 3px solid #ff3d3d;
}

.selection-input {
  width: 560px;
}

.number-text {
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.icon-fullname,
.icon-email,
.icon-send {
  position: relative;
}

.icon-fullname::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  right: 20px;
  top: 24px;
  opacity: 0.3;
  z-index: 11;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.icon-email::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 11;
  width: 15px;
  height: 12px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
}

.modal-input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
}

.fullname-text {
  color: #ff3d3d;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  min-height: 30px;
  width: 360px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.email-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  height: 30px;
  width: 360px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.number-input {
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  height: 60px;
  width: 160px;
  display: inline-block;
}

.number-minus {
  background-image: url("../img/minus.svg");
  width: 16px;
  cursor: pointer;
  border: 0;
  opacity: 0.3;
  position: absolute;
  top: 29px;
  left: 19px;
}

.number-plus:hover,
.number-minus:hover {
  opacity: 1;
}

.number-plus:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 50%;
  outline-offset: 10px;
  opacity: 1;
}

.number-minus:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 50%;
  outline-offset: 15px;
  opacity: 1;
}

.number-plus:active,
.number-minus:active {
  opacity: 0.1;
}

.number-plus {
  background-image: url("../img/plus-1.svg");
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  opacity: 0.3;
  position: absolute;
  top: 22px;
  right: 19px;
}

.info-count {
  width: 26px;
  height: 26px;
  background-image: url("../img/info-2.svg");
  background-repeat: no-repeat;
  background-color: #ffe17f;
  background-position: 50%;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 18px;
}

.count-info {
  display: none;
  position: absolute;
}

.count-info::before {
  content: "";
  background-image: url("../img/cart-popover.svg");
  position: absolute;
  width: 14px;
  height: 6px;
  top: -6px;
  right: 40px;
  z-index: 13;
}

.info-count:hover .count-info {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 166px;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  top: 35px;
  left: -140px;
  z-index: 12;
}

.count-text {
  padding-left: 19px;
  padding-top: 19px;
  padding-right: 17px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.button-submit {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  padding: 10px 28px 10px 31px;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #ffe17f 40%, #ffe17f 60%, transparent 40%);
  margin-top: 42px;
  margin-bottom: 66px;
}

.button-submit:hover {
  background-image: linear-gradient(0deg, #ffe17f 0%, #ffe17f 100%);
  outline: none;
}

.button-submit:focus-visible {
  background-image: linear-gradient(0deg, transparent 40%, #af4fff 40%, #af4fff 60%, transparent 40%);
  outline: none;
}

.button-submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-container-close {
 display: none;
}
