@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Rubik";
  
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Rubik";
  
    src: 
    url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: "Rubik";
  
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Raleway";
	font-style: normal;
    font-weight: 800;
    
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
  }

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: white;
    margin: 0;
   
}
.container{
    width: 1160px;
    margin: 0 auto;
    
   
}

.text{
  font-family: "Rubik";
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #444444
}
.title{
  font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;

}
.button{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Шапка */
.header{
  padding-top: 40px;
}
.logo{
  position: absolute;
  display: block;
  width: 145px;
  height: 36px;
  top: 17px;
}
.main-navigation{
  background-color: #FFE17F;
  height: 325px;
  align-items: center;
  padding-top: 49px;
  padding-right: 60px;
  padding-left: 60px;
   
}
.menu-user{
display: flex;
justify-content: space-between;
flex-wrap: wrap; 

margin-bottom: 45px;
height: 20px;

}
.user-menu{
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
  justify-content: space-between;
  
}
.user-login{
  width: 220px;
  margin-right: 35px;
    
}

.user-compare{
  width: 120px;
}
.user-cart{
  width: 118px;
  
}
.main-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style: none;
}
.search{
  width: 480px;
height: 20px;

margin-bottom: 29px;
}
.user-item a{
    color: #000000;
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }
.main-item:first-child{
  margin-right: auto;
  width: 236px;
}
.main-item{
  width: 140px;
  
  
}
.main-item:last-child{
  width: 140px;
  margin-left: 62px;
  
}
.navigation-link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    width: 236px;
    height: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.submenu-link{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 20px;

}
/* Слайдер*/
.slider{
  margin-bottom: 70px;
}
.main-clider{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.slider-item{
  display: flex;
  justify-content: space-between;
}
.slider-title{
  font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
margin-bottom: 20px;

}
.slider-text{
  height: 80px;
  margin-bottom: 30px;
}
.characteristics{
  margin-top: 70px;
}
.button .sliser-button{
  width:220px;
}
.slider-pagination{
  display: flex;
}
.table-title{
  font-family: "Rubik";
  font-weight: normal;
font-size: 36px;
width: 160px;
line-height: 30px;

}
.table-info{
  font-family: "Rubik";
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #444444;

}
.image-slider{
margin-right: 40px;
}
/*Каталог товаров */
.catalog{
margin-bottom: 70px;
}
.catalog-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;

}
.catalog-item{
  background-color: #FFE17F;
  width: 160px;
  margin-right: 40px;

}
.item-link{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
color: #000000;
}
/*Услуги */
.services{
  background-color: #F0F0F0;
  margin-bottom: 90px;
}
.services .container{
display:flex;
}
.services-tabs{
  margin: 0;
  padding: 0;
  list-style: none;
}
.features{
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-title{
  width: 560px;
  margin-bottom:14px;
}
/*Доставка*/
.send-block{
  margin-bottom: 97px;
}
.delivery{
  background-color: #F0F0F0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  
  
}
.img-delivery{
  background: #FFE17F;
  width: 125px;
height: 100px;
}

.delivery-text {
  font-family: "Raleway", sans-serif;
 align-self: center;
  
font-weight: 800;
width: 910px;
font-size: 20px;
line-height: 25px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
text-decoration: none;
color: #000000;
}

/*контакты */
.index-columns{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}
.contacts{
  margin-left: 40px;
}
.title .contacs-title{
margin-bottom: 15px;
}
.about-title{
  margin-bottom: 26px;
  height: 70px;
}
.contacts-phone {
  color: #444444;
  font-size: 18px;
line-height: 30px;
}
.text-about{
  margin-bottom: 23px;
  Height:202px;
  width: 497px;
}
.company-item{
  font-family: "Rubik";
font-weight: bold;
font-size: 18px;
line-height: 20px;
}
.company{
  margin-bottom: 52px;
}
.company-item{
  margin-bottom: 31px;
}
.contacts-schedule{
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-button{
margin-top: 67px;
display: inline-block;
}
.contacts-subtitle{
  font-family: "Rubik";
  font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #444444;
}
.contact-phone {
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
  text-decoration-line: underline;
color: #444444;
margin-top: 0;
margin-bottom: 30px;
}
/*рассылка */

.subscription{
  background-color: #F0F0F0;
  margin-top: 87px;
}

.email{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}
.subscription-title{
  width:560px;
  height: 120px;
}
.sub-title{
  margin: 0;
}
.sub-text{
  margin: 0;
}
.send{
  margin-bottom: 134px;
}
.send-input{
  width:560px;
  margin-right: 40px;
}
.subscription-text{
  width:560px;
}
.send-email{
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}
/*футер */
.page-footer{
  background-color: #444444;
  height: 321px;
  
}
.footer-block{
  display: flex;
  justify-content: space-between;
  
    
}
.footer-info{
  display: flex;
  justify-content: space-between;
}
.footer-nav-list{
  display: flex;
}
.footer-address{
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
width: 238px;
height: 38px;

}
.footer-social{
  display: flex;
  justify-content: space-between;
}
.logo-foot{
  margin-top: 72px;
}
.footer-menu{
  height: 20px;
}
.footer-nav-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.footer-nav-link{
  font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
margin-right: 7px;
}

.contacts-phone{
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
text-align: right;
color: #FFFFFF;
width: 293px;
height: 37px;
margin-bottom: 53px;
}
/* Страница каталога */

/* "Хлебные крошки" */
.inner-header{
  padding-left: 60px;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}
.breadcrumbs-link{
  font-family: "Rubik";
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #000000;
opacity: 0.6;
text-decoration: none;
margin-right: 36px;
}
/* Каталог продуктов */
.catalog-product {
  display: flex;
}

/* Фильтрация */
.filter-header{
  background-color: #DCDCDC;
  height: 70px;
  padding-left: 240px;
  margin-bottom: 71px;
     
}

.filter{
  width: 468px;
  margin-top:50px;
  background-color: #E5E5E5;
}
.filter-form{
  padding-left: 160px;
}
.catalog-filter{
  width: 200px;
  padding-left: 60px;

}
.button-filter{
  margin-top:52px;
}
/* Сортировка*/
.catalog-right-column{
  width: 972px;
  margin-top: 50px;
  
  
}
.sort{
  background-color: #EBEBEB;
  padding-left: 72px;
  height: 70px;
  margin-bottom: 70px;
  display: flex;
  width: 972px;
  
}


.filter-title,
.sort-title {
  font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.2em;
text-transform: uppercase;
padding-top: 20px;
width: 236px;
  padding-bottom: 20px;
  margin: 0;
  
}
.sort-order-list{
  margin: 0;
  padding: 0;
  list-style: none;

}
.catalog-filter-title{
  font-family: "Rubik";
font-weight: bold;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
}
/* Товары */
.control{
  font-family: "Rubik";
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
.product-item{
  display: flex;
  flex-direction: column;
}
.product-link{
  font-family: "Rubik";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-decoration: none;
letter-spacing: -0.02em;
color: #000000;
}
.product-title{
  width: 280px;
  margin: 0;
  padding: 0;
  height: 50px;
  
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
}
.product-price{
  font-family: "Rubik";

font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: right;
color: #444444;
}
.product-description{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.product-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display:grid;
  grid-template-columns: repeat(2,360px);
  gap: 40px;
  margin-bottom: 44px;
}
.product-wrapper{
  padding-left: 72px;
}
.show-more{
  font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
margin-bottom: 51px;
}
/* Пагинация */
.pagination{
  background-color: #EBEBEB;
  padding-left: 72px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-left: 72px;
  align-items: center;
  margin-bottom: 77px;
}
.pagination-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.pagination-prev
{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}
.pagination-next
{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-right: 30px;

}
.pagination-item{
  margin-right: 30px;
}
.pagination-item:last-child{
margin-right: 0;
}

.pagination-link{
  font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #444444;
opacity: 0.3;
text-decoration: none;
}