@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Rubik";
  
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Rubik";
  
    src: 
    url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: "Rubik";
  
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Raleway";
	font-style: normal;
    font-weight: 800;
    
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
  }

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: white;
    margin: 0;
   
}
.container{
    width: 1160px;
    margin: 0 auto;
    
   
}

.text{
  font-family: "Rubik";
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #444444;
margin:0;
}
.title{
  font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
margin: 0;

}
.button{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 41px 10px 43px;
  background-color: transparent;
  background-image: linear-gradient(0deg,transparent 40%,#FFE17F 40%, #FFE17F 60%,transparent 40%);

}
.button:hover{
  background-image: linear-gradient(0deg, #FFE17F 0%,#FFE17F 100%);
}
.button:active{
  color: rgba(0, 0, 0, 0.3);
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Шапка */
.header{
  padding-top: 40px;
}

.logo{
  position: absolute;
  display: block;
  width: 145px;
  height: 36px;
  top: -22px;
}
.main-navigation{
  background-color: #FFE17F;
  height: 186px; /*300*/
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
   
}
.main-navigation:after{
  content:'';
  background-color: #FFE17F;
  
    height: 114px;
    left: 0;
    position: absolute;
    bottom: -114px;
}
.menu-user{
display: flex;
justify-content: space-between;
flex-wrap: wrap; 
padding-top: 49px;
margin-bottom: 45px;
height: 20px;

}
.user-menu{
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
  justify-content: space-between;
  
}

.search-input:focus{
  padding-top:10px;
  padding-bottom:10px;
  height: 40px;
  border: 2px solid #AF4FFF;;
  border-radius: 20px;
  outline: none;

}
  .search-input::placeholder {
    font-family: Rubik;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(179,158,89);
    margin:0;
    padding:0;
  }

.search-input{
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  position: relative;
  bottom: 6px;
  border: 0;
  background-color: transparent;
  padding-left: 36px;
  width: 468px;
  height: 20px;
  margin-right: 24px;
  background-position: 2px;
 
}

.search-input[type="search"]{
  padding-top:0;
  padding-bottom:0;
}

.user-item a{
    color: #000000;
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
  }

.user-login{
  
  padding-left: 25px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  position: relative;
  height:20px;
  margin-right: auto;
  margin-left: 0;
}
.user-compare{
 
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  height:20px;
  margin-right:27px;
}
.user-cart{
  
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position-y: 2px;
  padding-left: 25px;
  height:20px;
  margin-left: 29px;
  
}
.user-login:hover,
.user-compare:hover,
.user-cart:hover{
  color: black;
  opacity: 0.6;
}
.user-login:active,
.user-compare:active,
.user-cart:active{
  color: black;
  opacity: 0.3;
}

.logout-link{
  color: black;
  opacity: 0.3;
  display: block;
  margin-right: 26px;
  margin-left: 23px;
}
.profile{
  display: flex;
}
.main-menu{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style: none;
}
.submenu-list{
  display:none;
}

.main-item:first-child{
  margin-right: auto;

  position: relative;
}

.main-item:last-child{
  margin-right: 0;
  margin-left: 56px;
  
}
.main-item{
  margin-right: 30px;
}
.navigation-link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    display:block;
    height: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.dropdown-list-section,
.dropdown-list-col {
  margin: 0;
  padding: 0;

  list-style: none;
}

.dropdown-link{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}
.item-deliv:hover,
.item-garanty:hover,
.item-contacts:hover{
  border-bottom: 2px solid #000000;
}
.item-deliv:active,
.item-garanty:active,
.item-contacts:active{
  border-bottom: 2px solid #000000;
  opacity: 0.3;
}
/* Слайдер*/
.slider{
  margin-bottom: 200px; /* 70px */
}
.slider .container {
  position: relative;
}
.main-clider{
  margin: 0;
  padding: 0;
  list-style: none;
  z-index:2;
  
}
.slider-wrapper{
  position: relative;
}
.slider-navigation{
  top: 50%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  
}
.slider-toggle{
  cursor: pointer;
}
.slider-next{
  border:0;
  background-color: transparent;
  background-image:url(../img/next.svg);
  width: 20px;
  position:absolute;
  cursor: pointer;
  top:-53px;
  left: 522px;
  height: 60px;
}
.slider-prev{
  border:0;
  background-color: transparent;
  background-image:url(../img/prev.svg);
  width: 20px;
  cursor: pointer;
  height: 60px;
  position: absolute;
    top: -52px;
    left: 20px;
}
.slider-pagination{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider-pagination-item{
  margin-right: 22px;
}
.slider-pagination-button{
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color: white;;
  border: 2px solid #000000;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.slider-pagination-button-current{
  background-color: black;
}

.slider-item{
  position: relative;
  display: none;
  
}
.slider-item--current {
  
  display: flex;
  justify-content: space-between;
}
.slider-item::before {
  position: absolute;
  font-family: Rubik;
font-weight: 800;
font-size: 180px;
line-height: 30px;
color: #FFFFFF;
    right: 0;
    margin-right: 49px;
    top:50px;
    z-index:-1;
}
.slider-item:first-child::before {
  content: "01";
}

.slider-item:nth-child(2)::before {
  content: "02";
}

.slider-item:nth-child(3)::before {
  content: "03";
}
.controls-toggle{
  position:absolute;
  right: -30px;
  top:314px;
}
.slider-title{
  font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
margin-bottom: 20px;
margin-top:85px;

}
.slider-text{
  height: 80px;
  margin-bottom: 30px;
}
.characteristics{
  margin-top: 70px;
}
.button .slider-button{
  width:220px;
}

.table-title{
  font-family: "Rubik";
  font-weight: normal;
font-size: 36px;
width: 160px;
line-height: 30px;

}
.table-info{
  font-family: "Rubik";
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #444444;

}
.image-slider{
margin-right: 40px;
width: 560px;
margin-top: -36px;
}
/*Каталог товаров */
.catalog{
margin-bottom: 70px;
}
.catalog-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.catalog-item{
  margin-right: 40px;
  width:160px;
}
.item-link{
  position: relative;
  display: block;
}
.item-link:before{
  content: "";
  position: absolute;
  top: -193px;
  left: 0;
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}
.item-link:after{
  content: "";
  position: absolute;
  top: -193px;
  left: 0;
  width: 160px;
  height: 160px;
}

.item-vr:after{
  content:'';
  position: absolute;
  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
  background-position: 32px 53px;
  left: 0;
}
.item-mono:after{
  content:'';
  position: absolute;
  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
  background-position: 37px 43px;
  left: 0;
}

.item-cam:after{
  content:'';
  position: absolute;
  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
  background-position: 49px 38px;
  left: 0;
}
.item-fit:after{
  content:'';
  position: absolute;
  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
  background-position: 26px 49px;
  left: 0;
}
.item-watch:after{
  content:'';
  position: absolute;
  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
  background-position: 53px 31px;
  left: 0;
}
.item-kvadr:after{
  content:'';
  position: absolute;
  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
  background-position: 14px 49px;
  left: 0;
}
.item-link:hover:before{
  background-color: #FFC700;
}
.item-link:active{
  color:rgba(0, 0, 0, 0.3);
  
}
.item-link:active:after{
  opacity: 0.3;
  
}
.item-link{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
color: #000000;
position: relative;
}
.catalog-item:last-child{
  margin-right: 0;
}

/*Услуги */
.services{
  background-color: #F0F0F0;
  margin-bottom: 90px;
}
.services .container{
display:flex;
}
.tabs-button{
  font-family: Raleway;
position: relative;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
width: 160px;
text-transform: uppercase;
border: 0;
background-color: transparent;
color: #000000;
}
.services-tabs{
  margin: 0;
  padding: 0;
  
  list-style: none;
  position: relative;
  z-index:2;
  width: 280px;
}
.services-tabs::after{
  content: '';
  width: 7px;
  height: 319px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
}
.tabs-button::before{
  content: '';
  width: 160px;
  height: 8px;
  bottom: 8px;
  position: absolute;
  right: 0;
  background: #FFC700;
  z-index:-1;
}
.tabs-button:hover{
  background: #FFC700;
}
.tabs-button--current{
  display: block;
}
.tabs-button--current::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 40px;
  z-index:-1;
  background-color: #000000;
}


.tabs-button:active,
.tabs-button--current {
  color: #FFE17F;
}
.tabs-button:active,
.tabs-button--current:hover{
  background-color: black;
}
.tabs-item{
  margin-bottom: 45px;
}
.features{
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-text{
  width: 497px;
}
.features-item{
  position: relative;
  display: none;
}
.features-item-delivery{
  
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  
}
.features-item-garanty{
 
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  
}
.features-item-credit{
  
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  position: absolute;
  
}
.features-title{
  width: 560px;
  margin-bottom:14px;
}
/*Доставка*/
.send-block{
  margin-bottom: 97px;
}
.delivery{
  background-color: #F0F0F0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position:relative;
  align-items: center;
   
}
.delivery-link:before{
  content: "";
  position: absolute;
  background: #FFE17F;
  background-repeat: no-repeat;
  top: 0px;
  width: 125px;
height: 100px;

left: 0;
  
}

.delivery-link:after{
  content:'';
  background: #FFE17F;
  background-image: url(../img/delivery-1.svg);
  background-repeat: no-repeat;
  background-position: 39px 35px;
  width: 125px;
height: 100px;
position: absolute;

top: 0px;
left: 0;
}
.delivery-link:hover:after{
  background: #FFC700;
  background-image: url(../img/delivery-1.svg);
  background-repeat: no-repeat;
  background-position: 39px 35px;
  width: 125px;
  height: 100px;
 
  
}
.delivery-link:active{
  opacity:0.3;
}
.delivery-link:active:after{
  opacity: 0.3;
}
.delivery-info{
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position:relative;
  margin-right: 33px;
  background: rgba(220, 220, 220, 0.5);
}
.delivery-info:after{
  content:'';
  
  background-image: url(../img/info.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: 19px 14px;
  position: absolute;
  top: 0px;
  right: 0;
}
.delivery:hover{
  background: #EBEBEB;
}


.delivery-link{
  font-family: "Raleway", sans-serif;
 align-self: center;
  
font-weight: 800;
width: 970px;
font-size: 20px;
line-height: 25px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
text-decoration: none;
color: #000000;
padding-left: 125px;
}

/*контакты */
.index-columns{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.contacts{
  margin-left: 40px;
}

.about-title, .contacts-title{
  margin-bottom: 26px;
  height: 70px;
}
.contacts-phone {
  color: #444444;
  font-size: 18px;
line-height: 30px;
}
.text-about{
  margin-bottom:23px;
  Height:202px;
  width: 497px;
}
.about-text, .contacts-text{
  margin-bottom: 30px;
}
.company-item{
  font-family: "Rubik";
font-weight: bold;
font-size: 18px;
line-height: 20px;
}
.company{
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-info:before,
.contacts:before{
  content: '';
  display: inline-block;
  width: 80px;
  height: 7px;
  background-image: url(../img/vector.svg);
  margin-bottom: 42px;
 
}

.company-item:before{
    content: '';
    display: inline-block;
    height:8px;
    width: 8px;
    vertical-align: middle;
    border-radius:50%;
    background-color:#FFC700;;
    margin-right:26px;
      }
.company-item{
  margin-bottom: 31px;
}
.company-item:last-child{
  margin-bottom: 52px;
}  


.contacts-schedule{
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-button{
margin-top: 67px;
display: inline-block;
}
.contacts-subtitle{
  font-family: "Rubik";
  font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #444444;
margin-bottom: 15px;
}

.contacts-time{
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Rubik";
  font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #444444;
}
.contact-phone {
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
  text-decoration-line: underline;
color: #444444;
margin-top: 0;
margin-bottom: 30px;
}
/*рассылка */

.subscription{
  background-color: #F0F0F0;
  margin-top: 87px;
}

.email{
  display: flex;
  justify-content: space-between;
  
  
}
.subscription-title{
  width: 560px;
  height: 120px;
  margin-right: 40px;
  padding-top: 75px;
}

.send{
  margin-bottom: 134px;
  
}
.send-input{
  width:597px;
  height: 41px;
  background-color: transparent;
  border: 0;
  position: relative;
  border-bottom: 3px solid rgb(216,216,216);
  right: -4.5px;
  outline: none;
}
/*.send-input:focus{
  background-color: #DCDCDC;
}*/
.send-input:hover{
  border-bottom: 3px solid rgb(192,192,192);
}
.send-input:active{
  color: black;
  border-bottom: 3px solid black;
}
.send-input:invalid{
  border-bottom: 3px solid red;
  
}
.subscription-text{
  width:597px;
  height: 100px;
  padding-top: 86px;
}
.send-email{
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  align-items: baseline;
  }
  input[type="email"]{
    padding: 0;
  
font-size: 18px;
line-height: 30px;
  }
  .send-input::placeholder {
    color: rgb(154,154,154);
    font-family: Rubik;

font-size: 18px;
line-height: 30px;

  }
  .send-button{
    border: 3px solid rgb(216,216,216);
box-sizing: border-box;
padding-bottom: 18px;
    padding-top: 17px;
    width: 260px;
    height: 55px;
    color: black;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    
    text-transform: uppercase;
    text-decoration: none;
    
  }
  
  .send-button:hover{
    background-color: black;
    color:white;
    border: 3px solid black;
    
  }
  .send-button:active{
    background-color: black;
    color:rgb(76,76,76);
    
    border: 3px solid black;
    
  }
  .send-button:focus{
    outline: none;
    border: 3px solid #AF4FFF;
  }
  .free-text{
    width: 129px;
height: 30px;
background-image: url(../img/tick.svg);
background-repeat: no-repeat;
background-position: 8px 8px;
padding-left: 36px;
  }
/*футер */
.page-footer{
  background-color: #444444;
  height: 321px;
  
}
.footer-block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
    
}
.footer-contacts{
  width: 240px;
  margin-right: 116px;
}
.footer-info{
  display: block;
  margin-left: auto;
  height: 37px;
}
.footer-nav-item{
  margin-right: 7px;
  width: 148px;
  text-align: center;
}

.footer-address{
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.footer-social{
  display: flex;
  justify-content: space-between;
}
.footer-social:before{
  content:'';
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  align-self: center;
  margin-right: 50px;
}

.logo-foot{
  display:block;
  padding-top: 62px;
  margin-bottom: 36px;
}
.footer-menu{
  height: 20px;
}
.footer-nav-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.social-link{
  display: block;
  width: 40px;
  height: 40px;
  background-color:  rgba(255, 255, 255, 0.3);;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-position: center;
  position:relative;
}
.social-item{
  
  margin-right: 15px;
 background-repeat: no-repeat;
  background-position: center;
  
  position:relative;
}

.social-fb svg{
  fill: #444444;
  position: absolute;
  top: 11px;
  left: 16px;
}
.social-inst svg{
  fill: #444444;
  position: absolute;
  top: 12px;
  left: 12px;
}
.social-tw svg{
  fill: #444444;
  position: absolute;
  top: 12px;
  left: 13px;
}
/*.social-link:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  background: #444444;
  border-radius: 50%;
  
}
/*.social-link:focus svg{
fill: white;
}*/
.social-link:hover{
   background-color: #FFC700;
}
.social-link:active{
  background-color: #FFC700;
}
.social-link:active svg{
  opacity: 0.3;
  }
.footer-nav-link{
  font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
margin-right: 7px;
}
/*.footer-nav-link:focus{
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  padding: 14px 20px 15px;
}*/
.footer-nav-link:hover{
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}
.footer-nav-link:active{
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}
.contacts-phone{
  font-family: "Rubik";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
text-align: right;
color: #FFFFFF;
width: 293px;
height: 37px;
margin-bottom: 53px;
}
/*.contacts-phone:focus{
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 3px 15px 5px;
}*/
.contacts-phone:hover{
  color: #FFC700
}
.contacts-phone:active{
  color: #FFC700;
  opacity: 0.3;
}
.academy svg{
  fill:#FFC700;
}
/*.academy:focus svg{
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 10px;
  padding: 10px;
}*/
.academy:hover svg{
  fill: white;
}
.academy:active svg{
  fill: white;
  opacity: 0.3;
}
/* Страница каталога */

/* "Хлебные крошки" */
.inner-header{
  padding-left: 60px;
  margin-bottom: 49px;
}
.inner-header-title{
  margin-top:37px;
  margin-bottom: 14px;
}
.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  
}
.breadcrumbs-item:not(:last-child):after{
  content:'';
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 4px 7px;
  padding-right: 36px;
}
.breadcrumbs-link{
  font-family: "Rubik";
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: rgb(102,102,102);

text-decoration: none;
}
/*.breadcrumbs-link:focus{
  outline: none;
  border: 5px solid #AF4FFF;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 12px;
}*/
.breadcrumbs-link:hover{
  color: black;
}
.breadcrumbs-link:active{
  color: black;
  opacity: 0.3;
}

/* Каталог продуктов */


/* Фильтрация */
.filter-sort{
  
  background-color: #EBEBEB;
  background-image: linear-gradient(90deg, #DCDCDC 50%, #ebebeb 50%);
  
}
.filter{
  display: flex;
  align-items: center;
  height: 70px;
}
.filter-header{
 width: 326px; 
}
.color-filter{
  margin: 0;
  padding: 0;
  list-style: none;
}
.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #DCDCDC;
  
}
.range-bar {
  height: 2px;
  background-color: black;
}
.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.range-toggle:active {
  background-color: black;
}
.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: 50px;
}
.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  color:rgb(165,165,165);
}


.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color:rgb(165,165,165);
}
.catalog-min-price{
  margin-right: auto;
  display: flex;
}
.catalog-max-price{
  display: flex;
  position: relative;
    left: -10px;
}
.do{
  width:60px;
}
.sort{
  background-color: #EBEBEB;
  display: flex;
  height: 70px;
  align-items: center;
  position: relative;
  width: 832px;
}
.catalog-filter-group{
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-title{
  margin-bottom: 14px;
  
}

.color-item{
  position: relative;
  margin-bottom: 10px;
}

.control{
  font-family: "Rubik";
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
position: relative;
cursor: pointer;

}

.control-input+label{
  align-items: center;
  display: inline-flex;
  position: relative;
}
.control-input+label:before {
  content:'';
    border-radius: 3px;
    border: 2px solid rgb(188,188,188);
    background: #EBEBEB;
    width: 15px;
    height: 15px;
    margin-right: 17px;
   
}
.control-input:checked+label::before {
  border-color: black;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/tick-1.svg);
}

.sort-title{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left:72px;
  width: 236px;
}

.filter-title{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.2em;
text-transform: uppercase;
padding-left: 60px;
}
.sort-order-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  right: 0;

}
.sort-order-item{
  margin-right: 19px;
}
.sort-order-item:last-child{
  margin-right: 0;
}
.select-control{
  border: 0;
  background-color: transparent;
 font-size: 16px;
line-height: 19px;
background-image: url(../img/sort.svg);
background-repeat: no-repeat;
background-position: 100% 60%;
    padding-right: 20px;
background-size: 11px 6px;
outline:none;
appearance: none;
}
.select-control:hover{
  color: black;
  opacity: 0.6;

}
.select-control:active{
  color: black;
  opacity: 0.3;

}
.catalog-filter-title{
  font-family: "Rubik";
font-weight: bold;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
}
.navigation-icon-top{
  fill: rgb(204,204,204);
}
.navigation-icon-bottom{
  fill: black;
}
.navigation-icon-top:hover{
  fill:rgb(144,144,144);
}

.navigation-icon-top:active{
  fill:black;
}
/* Товары */
.product-block{
  background-color: white;
  background-image: linear-gradient(90deg, #E5E5E5 50%, #ffffff 50%);
}
.catalog-list{
  display: flex;
  justify-content: space-between;
}
.catalog-filter{
  width: 200px;
  padding-left: 60px;
  padding-top: 69px;
}
.catalog-right-column{
  background-color: white;
  padding-left: 72px;
  padding-top: 69px;
}
.product-image{
  position: relative;
}
.product-info{
  display: none;
  cursor: pointer;
  width:360px;
  height: 380px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
  top: 0;
  left: 0;
}
.product-image:hover .product-info {
  
  display: flex;
}
.button-1{
  
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    border: 0;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 10px 41px 10px 43px;
    background-color: transparent;
    background-image: linear-gradient(0deg,transparent 40%,#FFC700 40%, #FFC700 60%,transparent 40%);
  
  }
  .button-1:hover{
    background-image: linear-gradient(0deg, #FFC700 0%,#FFC700 100%);
  }
  .button-1:active{
    color: rgba(0, 0, 0, 0.3);
  }

.product-item{
  display: flex;
  flex-direction: column;
}
.product-link{
  font-family: "Rubik";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-decoration: none;
letter-spacing: -0.02em;
color: #000000;
}
.product-title{
  width: 280px;
  margin: 0;
  padding: 0;
  height: 50px;
  
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
}
.product-price{
  font-family: "Rubik";

font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: right;
color: #444444;
}
.product-description{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.product-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display:grid;
  grid-template-columns: repeat(2,360px);
  gap: 40px;
  margin-bottom: 44px;
}

.show-more{
  font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
margin-bottom: 51px;
border: 3px solid #e5e5e5;
background: transparent;
color: black;
width: 762px;
height: 55px;
}
/*.show-more:focus{
  border: 5px solid #AF4FFF;
}*/
.show-more:hover{
  border: 3px solid black;

}
.show-more:active{
  border: 3px solid black;
  opacity: 0.3;

}
.product-image{
  position: relative;
}
.new-item:before{
  content:'NEW';
  font-family: "Raleway";
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 27px;
  right: 27px;
  border-radius: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
/* Пагинация */
.pagination{
  background-color: #EBEBEB;
  
  display: flex;
  justify-content: flex-start;
  height: 70px;
  
  align-items: center;
  margin-bottom: 77px;
}
.pagination-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.pagination-prev
{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  display: flex;
  text-align: center;
  letter-spacing: 0.2em;
  margin-right: auto;
  padding-right: 18px;
    padding-left: 29px;
  text-transform: uppercase;
  width: 80px;
height: 70px;

}
.pagination-prev:hover{
  background-color: #DCDCDC;
}
.pagination-prev:active{
  color: rgba(0, 0, 0, 0.3);
}
.pagination-next
{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  line-height: 20px;
  align-items: center;
  height: 70px;
  width: 80px;
  text-align: center;
  margin-left: auto;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 30px;
}
.pagination-next:hover{
  background-color: #DCDCDC;
}
.pagination-next:active{
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item{
  margin-right: 30px;
}
.pagination-item:last-child{
margin-right: 0;
}

.pagination-link{
  font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: rgb(199,199,199);
text-decoration: none;
}
.pagination-link:hover{
  color: #444444;
}
.pagination-link:active{
  color: #444444;
  opacity: 0.1;
}